/*_____________________________________________________________layout_____________________________________________________________________________________*/
@font-face {
    font-family: Playfair_Display;
    src: url(/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    background: black;
    height: 100vh;
    width: 100%;
}

#headerNav {
    position: fixed;
    width: 100%;
    height: 10em;
    z-index: 5;
}

#footerNav {
    width: max-content;
    height: 5em;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

ul {
    z-index: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Playfair_Display;
    font-size: 2.5em;
    background: transparent;
}

li {
    background: transparent;
    color: whitesmoke;
    text-shadow: 2px 3px 5px black;
    font-weight: 500;

}

.container {
    height: 100%;
    display: grid;
    gap: 5px 5px;
    grid-template-areas:
        "header header header asideR"
        "asideL main main asideR"
        "asideL main main asideR"
        "asideL footer footer footer";
}

#asideL,
#asideR,
#header,
#aside,
#main,
#footer {
    border: 2px solid black;
}

#header {
    grid-area: header;
    overflow: hidden;
    transition: 2.5s ease forwards;
}

#asideL {

    grid-area: asideL;
    overflow: hidden;
    transition: 2.5s ease forwards;
}

#main {
    display: flex;
    grid-area: main;
    overflow: hidden;
    transition: 2.5s ease forwards;
}

#asideR {
    grid-area: asideR;
    overflow: hidden;
    transition: 2.5s ease forwards;
}

#footer {
    grid-area: footer;
    overflow: hidden;
    transition: 2.5s ease forwards;
}

/*_____________________________________________________________img property_____________________________________________________________________________________*/

#header img {
    width: 100%;
    height: auto;
    transition: transform 1.5s;
}

#asideL img {
    width: auto;
    height: 100%;
    transition: transform 1.5s;
}

#main img {
    width: 100%;
    height: auto;
    transition: transform 1.5s;
}

#asideR img {
    width: auto;
    height: 100%;
    transition: transform 1.5s;
}

#footer img {
    width: 100%;
    height: auto;
    transition: transform 1.5s;
}

/*_____________________________________________________________hover property_____________________________________________________________________________________*/

ul {
    z-index: 0;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Playfair_Display;
    color: whitesmoke;
    font-size: 2.5em;
    background: transparent;
}

li:hover {
    padding: 5px 8px 5px;
    width: fit-content;
    border-radius: 25px;
    background: linear-gradient(270deg, #ffffff64, #df51ff36);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-weight: 500;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


#header:hover {
    height: 750px;
    z-index: 1;
}

#asideL:hover {
    width: 1000px;
    z-index: 1;
}

#main:hover {
    width: auto;
    height: 800px;
    z-index: 1;
}

#asideR:hover {
    width: 1050px;
    z-index: 1;
}

#footer:hover {
    height: 800px;
    z-index: 1;
}

/*_____________________________________________________________hover img property_____________________________________________________________________________________*/

#header img:hover {
    transform: scale(1.4) translateY(-100px);
    height: 1000px;
    z-index: 1;
}

#asideL img:hover {
    transform: scale(1.4) translateX(50px) translateY(-25px);
    z-index: 1;
}

#main img:hover {
    transform: scale(1.5) translateY(-75px);
}

#asideR img:hover {
    transform: scale(1.5) translateX(100px) translateY(100px);
    z-index: 1;
}

#footer img:hover {
    transform: scale(1.4);
    transform: translateY(-75px);
    height: 1000px;
    z-index: 1;
}